.tribe-events-header {
    form {
        button {
            background-color: #605144 !important;
        }
    }
}
.tribe-common {
    .tribe-common-c-svgicon {
        color: #605144 !important;
    }
    .tribe-common-c-btn-border {
        color: white !important;
        border-color: #605144 !important;
        background-color: #605144 !important;
    }
}